services:
  marta-realtime:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "30001:3000"
    environment:
      NODE_ENV: production
      NEXT_TELEMETRY_DISABLED: "1"
    restart: unless-stopped
